---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Progress from '../components/Progress.astro';
---

<Layout title="Welcome to Astro.">
    <section id="hero">
        <Hero />
    </section>
    <section id="skills"></section>
        <Progress />
    <section id="timeline"></section>
    <section id="projekts"></section>
</Layout>
