<div class="hero">
<div class="hero-image">
    <img src="https://picsum.photos/400/600" alt="My Image">
</div>
<div class="hero-text">
    <h2 class="color-accent">Hi,ich bin</h2>
    <h1>Faruk Okcu</h1>
    <h3 class="color-primary">Developer; Administrator; Gamer</h3>
    <p>
        Als angehender zukünftiger Systemintegrator der eine starken Willen besitzt, hochqualifiziert an seinen Zielen arbeitet und immer lösungsorientiert denkt, was für mich als Fachinformatiker selbstverständlich ist. Dank meiner Offenheit und ausgeprägten Sozialen Kompetenzen gelingt es mir sehr gut, ein tiefes Vertrauensverhältnis aufzubauen, was die Basis für eine erfolgreiche Zusammenarbeit ist.
    </p>
</div>


<style>
    .hero {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-text > * {
        text-align: center;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }
    .hero .hero-image {
        height: 800px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image img {
        max-height: 100%;
        max-width: 100%;
    }
    .hero .hero-text {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hero-text p {
        margin-top: 1rem;
        border: 1px solid rgb(62, 62, 62);
        background-color: rgba(0,0,0,0.3);
        border-radius: 15px;
        padding: 1rem;
        max-width: 40ch;
    }
    .hero-text p::before {
        color: fuchsia;
        content: '“';
    }
    .hero-text p::after {
        color: fuchsia;
        content: '”';
    }
    .color-accent {
        color: var(--color-accent);
    }
    .color-primary {
        color: var(--color-primary);
    }
    /* @media screen and (max-width: 821px) {
        .hero {
            flex-direction: column;
        }
    } */

</style>