---
interface Props {
    titel: string;
    progress: string;
    color: string;
}
const { titel, progress, color } = Astro.props;
---
<li class="progress">
    <h3>{titel}</h3>
    <div class="skill-shadow">
        <div class="skill-bar" style={`width: ${progress}%`}>
            <span class="value">{progress}</span>
        </div>
    </div>
</li>

<style define:vars={{color}}>
    li.progress {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
    }
    li.progress .skill-shadow {
        background-color: rgba(100, 100, 100, 0.2);
        border-radius: 1rem;
        width: 100%;
    }
    .skill-shadow .skill-bar {
        background-color: var(--color);
        width: 62%;
        padding: 1rem;
        border-radius: 1rem;
        font-style: italic;
        color: white;
        text-shadow: 1px 1px 2px darkslategray;
        font-size:1.1em;
    }
    .skill-bar > span.value::after {
        content: " %"; 
    }
</style>
